body {
    margin: 0;
    font-family:'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(78, 162, 210, 0.823);
    min-height: 20rem;
    background: url(public/man-stadium.jpg);
    background-size: cover; 
    padding: 1rem;
    overflow-wrap: break-word;
}
.title {
    align-self: center;
    width: 75%;
}
.date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.today-date {
  color: rgba(78, 162, 210, 0.823);
  font-size: 3.0vh;
  font-weight: bold;
  align-self: center;
}

.img-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center;  
}

.img-container {
    margin: 1rem;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
    
.img {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    align-self: center;
}
h1 {
    padding-top: 1.4rem;
    align-self: center;
    font-size: 2rem;
    line-height: 1em
}

h3 {
  padding-left: 2vw;
}

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    margin-top: 1rem;
    padding: 1rem;
  }
  .footer-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 3rem;;
  }

  a:link {
    text-decoration: none;
    color: #737373;
  }

  a:hover {
    color: rgb(15, 142, 185)
  }
  a:active {
    color: yellow;
  }
   
  a {
    color:  whitesmoke;
  }
  .about {
    margin-bottom: 1rem;
    width: 33%;
  }
  h6 {
    color: whitesmoke;
    font-size: 2rem;
  }

  .category {
    background-color: #26272b;
  }

  .email {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #26272b;

  }
  .copyright-text {
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 820px) {
    .img-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .img-container {
      width: 100%;
    }
    .img {
      width: 90vw;
      height: 40vh;
       
    }
    .footer-header {
        flex-direction: column;
    }

    footer {
      background-color: #26272b;
    }

  }